#content{
    padding: 40px 20px 20px 20px;
    max-height: calc(100vh - 4rem);
    overflow: scroll;
    overflow-x: hidden;
}

#header{
    display: flex;
    border-bottom: 1px solid black;
    #title{
        flex-grow: 2;
        font-size: 40px;
        font-weight: 400;
    }
    #author-keywords{
        margin-left: auto;
        display: flex;
        flex-direction: column;
        text-align: right;

    }
}
#date{
    font-size: 15px;
    color: rgba($color: #000000, $alpha: 0.7)
}
#speech-content{
    
    margin-top: 20px;
    pre{
        white-space: pre-wrap;       /* Since CSS 2.1 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
    }
}
#edit-div{
    position: absolute;
    right: 40px;
    bottom: 40px;
    height: 80px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    #edit-icon{
        background: rgba($color: #000000, $alpha: .1);
        margin-left: auto;
    }
    #cancel-icon{
        background: rgba($color: grey, $alpha: 1.0);
    }
    
    #save-icon{
        background: rgba($color: green, $alpha: 1.0);
    }
}

.inputEditMode:disabled{
    background: white;
    border: 0;
    color: inherit;
}

.icon {
    border-radius: 50%;
    display: flex;
    height: inherit;
    width: 80px;
    svg{
        width: 40px;
        height: 40px;
        margin: auto;
    }
}
