#content{
    padding: 40px 20px 20px 20px;
    max-height: calc(100vh - 4rem);
    overflow: scroll;
    overflow-x: hidden;
}

#header{
    display: flex;
    border-bottom: 1px solid black;
    h1{
        flex-grow: 2;
    }
    #author-keywords{
        margin-left: auto;
        display: flex;
        flex-direction: column;
        text-align: right;

    }
}
#date{
    font-size: 15px;
    color: rgba($color: #000000, $alpha: 0.7)
}
#speech-content{
    
    margin-top: 20px;
    pre{
        white-space: pre-wrap;       /* Since CSS 2.1 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
    }
}

#edit-icon{
    position:absolute;
    right: 80px;
    bottom: 40px;
    background: rgba($color: #000000, $alpha: .1);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    svg{
        width: 40px;
        height: 40px;
        margin: auto;
    }
}