<div id="content" *ngIf="speech">
    <div id="header">
        <h1 id="title" [contentEditable]='isEditMode' >{{speech.title}}</h1>
        <!-- <input id="title" #title type="text" class="inputEditMode" disabled value="Speech #1"> -->
        <div id="author-keywords" >
            <span id="author">by: James Bond</span>
            <span id="keywords" [contentEditable]='isEditMode'>{{speech.keywords}} </span>
        </div>
    </div>
    <span id="date">Modified: Shit</span>
    <div id="speech-content">
        <pre [contentEditable]='isEditMode'>{{speech.content}}</pre>
    </div>
    <!-- <div id="edit-div" [@InOut]="isEditMode? 'editOn' : 'editOff'"> -->
        <div id="edit-div">
        <button (click)="toggleEditableText()"  class="icon" id="edit-icon" *ngIf="!isEditMode" >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M17.263 2.177a1.75 1.75 0 012.474 0l2.586 2.586a1.75 1.75 0 010 2.474L19.53 10.03l-.012.013L8.69 20.378a1.75 1.75 0 01-.699.409l-5.523 1.68a.75.75 0 01-.935-.935l1.673-5.5a1.75 1.75 0 01.466-.756L14.476 4.963l2.787-2.786zm-2.275 4.371l-10.28 9.813a.25.25 0 00-.067.108l-1.264 4.154 4.177-1.271a.25.25 0 00.1-.059l10.273-9.806-2.94-2.939zM19 8.44l2.263-2.262a.25.25 0 000-.354l-2.586-2.586a.25.25 0 00-.354 0L16.061 5.5 19 8.44z"></path></svg>
        </button>
        <button (click)="toggleEditableText()" class="icon" id="cancel-icon" *ngIf="isEditMode">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M5.72 5.72a.75.75 0 011.06 0L12 10.94l5.22-5.22a.75.75 0 111.06 1.06L13.06 12l5.22 5.22a.75.75 0 11-1.06 1.06L12 13.06l-5.22 5.22a.75.75 0 01-1.06-1.06L10.94 12 5.72 6.78a.75.75 0 010-1.06z"></path></svg>
        </button>
        <button (click)="saveSpeech()" class="icon" id="save-icon" *ngIf="isEditMode">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M21.03 5.72a.75.75 0 010 1.06l-11.5 11.5a.75.75 0 01-1.072-.012l-5.5-5.75a.75.75 0 111.084-1.036l4.97 5.195L19.97 5.72a.75.75 0 011.06 0z"></path></svg>
        </button>
    </div>
</div>