<div id="sidebar">
    <span>Speeches</span>
    <div id="speech-container">
        <label for="radio1">
            <input type="radio" value="1" name="radio" id="radio1" >
            <app-speech-item class="item" active="shit.checked" [speechName]="'Magical Shit'"></app-speech-item>
        </label>
        <label for="radio2" >
            <input type="radio" value="1" name="radio" id="radio2">
            <app-speech-item class="item"  [speechName]="'Magical Shit 2'"></app-speech-item>
        </label>
        <div id="speech-menu"></div>
    </div>

</div>