#speech-item{
    width: 100%;
    height: inherit;

    display: flex;
    align-items: center;
    padding-left: 20px;

    border: 1px solid rgba($color: #000000, $alpha: 0.1);

    #active-icon{
        width: 40px;
        margin-left: auto;
        display: flex;
        align-items: center;
    }
}

.shadow{
    background: #FFFFFF;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
}
